DATABASE_ROOT_PASSWORD=your_root_password
DATABASE_USER=note_user
DATABASE_PASSWORD=your_password
DATABASE_HOST=localhost
DATABASE_PORT=3307
DATABASE_NAME=note_flow
JWT_SECRET_KEY=your_secret_key
JWT_EXPIRATION_TIME=30
JWT_ALGORITHM=HS256